@font-face {
  font-family: 'Satoshi-Variable';
  src: url('fonts/Satoshi-Variable.woff2') format('woff2'),
    url('fonts/Satoshi-Variable.woff') format('woff'),
    url('fonts/Satoshi-Variable.ttf') format('truetype');
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

:root {
  --primary-color: oklch(75% 0.20 149);

  --darker: oklch(from var(--primary-color) 8% 0.004 h);
  --dark-1: oklch(from var(--primary-color) 14% 0.008 h);
  --dark-2: oklch(from var(--primary-color) 20% 0.012 h);
  --dark-3: oklch(from var(--primary-color) 24% 0.016 h);

  --lighter: oklch(from var(--primary-color) 98% 0.01 h);
  --light-1: oklch(from var(--primary-color) 96% 0.03 h);
  --light-2: oklch(from var(--primary-color) 94% 0.05 h);
  --light-3: oklch(from var(--primary-color) 93% 0.07 h);

  --semantic-error-color: oklch(55% 0.16 30);

  font: 18px "Satoshi-Variable", sans-serif;
  letter-spacing: 0.18px;
  font-weight: 400;
  line-height: 1.5;

  color-scheme: light dark;
  color: var(--lighter);
  background-color: var(--dark-1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --darker: oklch(from var(--primary-color) 93% 0.004 h);
    --dark-1: oklch(from var(--primary-color) 94% 0.008 h);
    --dark-2: oklch(from var(--primary-color) 96% 0.012 h);
    --dark-3: oklch(from var(--primary-color) 98% 0.016 h);

    --lighter: oklch(from var(--primary-color) 24% 0.01 h);
    --light-1: oklch(from var(--primary-color) 20% 0.03 h);
    --light-2: oklch(from var(--primary-color) 14% 0.05 h);
    --light-3: oklch(from var(--primary-color) 8% 0.07 h);
  }
}

ul,
ol,
body,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

#root {
  box-sizing: border-box;
  padding: 2rem;
  min-height: 100dvh;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  gap: 3rem;
}