@font-face {
  font-family: 'Satoshi Variable';
  src: local('Satoshi Variable Bold'), local('SatoshiVariable-Bold'),
    url('../public/fonts/SatoshiVariable-Bold.woff2') format('woff2'),
    url('../public/fonts/SatoshiVariable-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-color: oklch(75% 0.20 149);

  --darker: oklch(from var(--primary-color) 8% 0.004 h);
  --dark-1: oklch(from var(--primary-color) 14% 0.008 h);
  --dark-2: oklch(from var(--primary-color) 20% 0.012 h);
  --dark-3: oklch(from var(--primary-color) 24% 0.016 h);

  --lighter: oklch(from var(--primary-color) 98% 0.01 h);
  --light-1: oklch(from var(--primary-color) 96% 0.03 h);
  --light-2: oklch(from var(--primary-color) 94% 0.05 h);
  --light-3: oklch(from var(--primary-color) 93% 0.07 h);

  --semantic-error-color: oklch(55% 0.16 30);

  font: 18px "Satoshi Variable", sans-serif;
  letter-spacing: 0.18px;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--lighter);
  background-color: var(--dark-1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --darker: oklch(from var(--primary-color) 93% 0.004 h);
    --dark-1: oklch(from var(--primary-color) 94% 0.008 h);
    --dark-2: oklch(from var(--primary-color) 96% 0.012 h);
    --dark-3: oklch(from var(--primary-color) 98% 0.016 h);

    --lighter: oklch(from var(--primary-color) 24% 0.01 h);
    --light-1: oklch(from var(--primary-color) 20% 0.03 h);
    --light-2: oklch(from var(--primary-color) 14% 0.05 h);
    --light-3: oklch(from var(--primary-color) 8% 0.07 h);
  }
}

ul,
ol,
body,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  box-sizing: border-box;
  padding: 2rem;
  min-height: 100dvh;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  gap: 3rem;
}

.drop-down {
  padding: 0;

  &:has(li[selected]) {
    background-color: oklch(from var(--color) 50% 0.5 h);
  }

  &:hover {
    background-color: var(--color);
    border-radius: var(--li-border-radius) 0 0 var(--li-border-radius);

    &:has(ul.hidden) {
      border-radius: var(--li-border-radius);
    }
  }

  &>.title {
    padding: var(--li-padding);
    anchor-name: --drop-down-title;
  }

  &>:not(.title) {
    border-radius: 0 var(--li-border-radius) var(--li-border-radius) 0;
    background-color: var(--color);
    position: absolute;
    position-anchor: --drop-down-title;
    position-area: right span-bottom;
    outline: 0.5rem solid var(--color);
    box-sizing: content-box;
    box-shadow: 10px 20px 30px -5px var(--darker);
    z-index: -1;

    &.hidden {
      position-area: none;
      left: anchor(left);
      top: anchor(top);
      display: none;
    }

    &>li {
      padding: 1rem 2rem;

      &:first-child {
        border-radius: 0 var(--li-border-radius) var(--li-border-radius) 0;
      }

      &:not(:first-child) {
        border-radius: var(--li-border-radius);
      }
    }
  }
}