<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="index.css">
</head>

<body>
  <nav class="side-nav">
    <ul>
      <li id="menu_toggle">Menu</li>
      <li id="operations">Operations</li>
      <li id="storage_areas">Storage Areas</li>
      <li id="clients/suppliers">Clients/Suppliers</li>
      <li class="drop-down" id="items_group">
        <p class="title">Items</p>
        <ul class="drop-items hidden">
          <li id="items">Avaliable Items</li>
          <li id="categories">Item Categories</li>
        </ul>
      </li>
    </ul>
  </nav>

  <script src="index.js"></script>
  <main>

  </main>
</body>

</html>